.table-caption{border-bottom: 1px solid black;}
#time-reports-grid td.total{background-color:#ffffcc;font-weight:bold;}
#time-reports-grid td.grand-total {background-color:#ffff66;font-weight:bold;}  
#grand-total{padding-left: 60px;font-weight:bold;}  
#reports_header h1{
    margin: 16px 0;
}
#company_bar{
    padding: 6px 8px !important;
    background-color: #D6DEEC;
    border: 1px solid #345B9E;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-family: Tahoma, sans-serif;
    font-size: 14px;
    height: 24px;
    margin-top: 10px;
    padding: 6px 12px;
    position: relative;
    white-space: nowrap;
    z-index: 10;
}

   #month_selector_wrapper{width:240px;}
   #month_year_display{line-height: 24px;width:240px;}
   #selection_display{display:inline-block;width: 162px;text-align:center;cursor:pointer;}               
   #month_selector_list{
       width: 235px;
       padding:0;
       margin:0;         
       border: 1px solid gray;  
       border-bottom:0;  
       position:absolute;
       z-index:1000;   
       background-color:white;                         
   }
   #month_selector_list li{
       list-style-type:none; 
       width: 80px;  
       border-bottom: 1px solid gray;
       font-size: 12px;      
   }  
   #month_selector_list li span{ 
       display:block;
       width: 60px;
       padding: 0px 8px;
       cursor:pointer;   
       text-align:center;
   }
   #month_selector_list li span:hover{
       text-decoration:underline; 
       color:#345B9E;
   }                                             
   #month_selector_list li span.selected{background-color: #345B9E;color:white;}
   #month_selector_list li.column1 { margin-left: 0;}
   #month_selector_list li.column2 { margin-left: 80px;}
   #month_selector_list li.column3 { margin-left: 160px; width: 75px;} 
   #month_selector_list li { line-height: 24px; }
   #month_selector_list li.reset { margin-top: -100px; }
    