.table-caption{border-bottom: 1px solid black;}
#time-reports-grid td.total{background-color:#ffffcc;font-weight:bold;}
#time-reports-grid td.grand-total {background-color:#ffff66;font-weight:bold;}  
#grand-total{padding-left: 60px;font-weight:bold;}
    